# Database Configuration
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<dbname>?retryWrites=true&w=majority

# Authentication Configuration
JWT_SECRET=your_jwt_secret_key_here

# SMTP Configuration
SMTP_EMAIL=your_smtp_email@gmail.com
SMTP_PASSWORD=your_smtp_app_password_here
